* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: white;
}

body * {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

.layout-dark {
    display: flex;
    background: url(./assets/bg-desktop.jpg) no-repeat top center/cover;
}

#container {
    width: 360px;
    margin: 56px auto 0px;
    padding: 0 24px;
}

/* profile */

#profile {
    text-align: center;
    padding: 24px;
}

#profile img {
    width: 112px;
}

#profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

/* Switch */

#switch {
    position: relative;
    width: 64px;
    margin: 4px auto;
}

#switch button {
    width: 32px;
    height: 32px;
    background: white no-repeat center;
    border: 0;
    border-radius: 50%;
    background-image: url(assets/moon-stars.svg);
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 9999px;
}


/* links */
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}

ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    text-decoration: none;
    font-weight: 500;
}

/* pseudo-selector */
ul li a:hover {
    background: rgba(255, 255, 255, 0.05);
    border: 1.5px solid var(--text-color);
}

/* social links*/
#social-links {
    display: flex;
    justify-content: center;
    padding: 24px 0;
    font-size: 24px;
}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 50%;
}

#social-links a:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

footer {
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
}

/*/////////////////////////////////*/

.layout-light {
    display: none;
    background: url(./assets/bg-desktop-light.jpg) no-repeat top center/cover;
    --text-color: black;
}

#container-light {
    width: 360px;
    margin: 56px auto 0px;
    padding: 0 24px;
}

/* profile */

#profile-light {
    text-align: center;
    padding: 24px;
}

#profile-light img {
    width: 112px;
}

#profile-light p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

/* Switch */

#switch-light {
    position: relative;
    width: 64px;
    margin: 4px auto;
}

#switch-light button {
    width: 32px;
    height: 32px;
    background: white no-repeat center;
    border: 0;
    border-radius: 50%;
    background-image: url(assets/sun.svg);
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
}

#switch-light span {
    display: block;
    width: 64px;
    height: 24px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid black;
    border-radius: 9999px;
}


/* links */
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}

ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid black;
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    text-decoration: none;
    font-weight: 500;
}

/* pseudo-selector */
ul li a:hover {
    background: rgba(128, 128, 128, 0.3);
    border: 1.5px solid var(--text-color);
}

/* social links*/
#social-links-light {
    display: flex;
    justify-content: center;
    padding: 24px 0;
    font-size: 24px;
}

#social-links-light a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 50%;
}

#social-links-light a:hover {
    background: rgba(128, 128, 128, 0.3);
    border-radius: 50%;
}

footer {
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
}